# ---- Python --------------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
# ---- Airflow -------------------------------------------
logs/
*.log
airflow.cfg
# ---- Spark ---------------------------------------------
.metastore_db/
derby.log
# ---- Docker --------------------------------------------
pg_data/
**/tmp/
# ---- IDEs ----------------------------------------------
.vscode/
.idea/
# ---- Misceláneos ---------------------------------------
*.swp
.DS_Store
